
  <h1>{{ title }}</h1>
  <hr>


<div class="row animated fadeIn fast" *ngIf="films">
    
  <div class="col-sm-6">
      <div class="row">
        <div class="col-md-12 div-pic-1 puntero"
             [routerLink]="['/film', films[0].id, 'home']" routerLinkActive="router-link-active" 
             [ngStyle]="{'background-image': 'url('+ (films[0] | imageFilm) +')'}" >
            <p class="pic-titulo">{{films[0].title}}</p>     
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 div-pic-2 puntero"
            [routerLink]="['/film', films[1].id, 'home']" routerLinkActive="router-link-active" 
            [ngStyle]="{'background-image': 'url('+ (films[1] | imageFilm) +')'}">
            <p class="pic-titulo">{{films[1].title}}</p>
        </div>
        <div class="col-sm-6 div-pic-2 puntero"
            [routerLink]="['/film', films[2].id, 'home']" routerLinkActive="router-link-active" 
            [ngStyle]="{'background-image': 'url('+ (films[2] | imageFilm) +')'}">
            <p class="pic-titulo">{{films[2].title}}</p>
        </div>
      </div>
  </div>     
  <div class="col-sm-6">       
      <div class="row">
        <div class="col-sm-6 div-pic-2 puntero"
              [routerLink]="['/film', films[3].id, 'home']" routerLinkActive="router-link-active" 
              [ngStyle]="{'background-image': 'url('+ (films[3] | imageFilm) +')'}">
              <p class="pic-titulo">{{films[3].title}}</p>
        </div>
        <div class="col-sm-6 div-pic-2 puntero"
            [routerLink]="['/film', films[4].id, 'home']" routerLinkActive="router-link-active" 
            [ngStyle]="{'background-image': 'url('+ (films[4] | imageFilm) +')'}">
            <p class="pic-titulo">{{films[4].title}}</p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12 div-pic-1 puntero"
              [routerLink]="['/film', films[5].id, 'home']" routerLinkActive="router-link-active" 
              [ngStyle]="{'background-image': 'url('+ (films[5] | imageFilm) +')'}" >
              <p class="pic-titulo">{{films[5].title}}</p>

          </div>
      </div>
  </div>
</div>  